<div id="main_body">
<h1>外购计划-<%=@project.name %></h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
    <th>#</th>
    <th>生成日期</th>
    <th>产品名称</th>
    <th>客户</th>
    <th>订购日期</th>
    <th>预定到货日期</th>
    <th>实际到货日期</th>
    <th>批准？</th>
    <th>到货?</th>
    <th>来自库存</th>
    <th>供应商</th>
    <th>部件工程师</th>
    <th>外购工程师</th>
    <th></th>
    <th></th> 
    <th></th>
  </tr>

<% @purchasings.each do |pur| %>
  <tr>
  	<td><%= link_to pur.id.to_s, SUBURI + "/view_handler?index=1&url=#{project_purchasing_path(@project, pur)}" if has_show_right? %><%='*' if (pur.created_at + 8.hours) > DAYS_OF_NEW.days.ago %></td>
  	<td><%= (pur.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
    <td><%= pur.prod_name %></td>
    <td><%= pur.project.customer.short_name %></td>
    <td><%= pur.order_date.strftime("%Y/%m/%d") %></td>
    <td><%= pur.delivery_date.strftime("%Y/%m/%d") if pur.delivery_date.present? %></td>
    <td><%= pur.actual_receiving_date.strftime("%Y/%m/%d") if pur.actual_receiving_date.present? %></td>
    <td><%= yes_no_cn(approved?(pur)) %></td>
    <td><%= yes_no_cn(pur.delivered) %></td>
    <td><%= yes_no_cn(pur.from_warehouse) %></td>
    <td><%= pur.supplier.short_name if pur.supplier_id.present? %></td>
    <td><%= pur.eng.name unless pur.eng_id.blank? %></td> 
    <td><%= pur.pur_eng.name unless pur.pur_eng_id.blank? %></td> 
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_project_purchasing_path(@project, pur)}" if has_update_right? %></td>
    <td><%= link_to '批准', approve_project_purchasing_path(@project, pur), :method => :put if need_approve?(pur) && display_approve?(pur) %></td>
    <td><%= link_to '状态', SUBURI + "/view_handler?index=1&url=#{purchasing_purchasing_logs_path(pur)}" %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', SUBURI + "/view_handler?index=0" %> &nbsp; | &nbsp;
  <%= link_to '输入外购', SUBURI + "/view_handler?index=1&url=#{new_project_purchasing_path(@project)}" if has_create_right? %>
  <%= link_to '搜索', search_purchasings_path %>
  <!--%= link_to '统计', stats_purchasings_path if has_stats_right? %-->
</div>
