
<div id="main_body">
<h1>安装计划-<%=@project.name %></h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
  	<th>#</th>
  	<th>生成日期</th>
    <th>产品名称</th>
    <th>开始日期</th>
    <th>完成日期</th>
    <th>责任工程师</th>
    <th>完成？</th>
    <th></th>
    <th></th> 
    <th></th>
  </tr>

<% @installations.each do |inst| %>
  <tr>
  	<td><%= inst.id %><%='*' if (inst.created_at + 8.hours) > DAYS_OF_NEW.days.ago %></td>
  	<td><%= (inst.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
    <td><%= inst.install_name %></td>
    <td><%= inst.start_date.strftime("%Y/%m/%d") %></td>
    <td><%= inst.finish_date.strftime("%Y/%m/%d") %></td>
    <td><%= inst.inst_eng.name %></td>
    <td><%= yes_no_cn(inst.completed) %></td>  
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_project_installation_path(@project, inst)}" if has_update_right? %></td>
    <td><%= link_to '申请物料', SUBURI + "/view_handler?index=1&url=#{new_installation_installation_purchase_path(inst)}" if inst_eng? || vp_eng? %></td>
    <td><%= link_to '状态', SUBURI + "/view_handler?index=1&url=#{installation_installation_logs_path(inst)}" %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', SUBURI + "/view_handler?index=0" %>
  &nbsp;<%= link_to '输入安装', SUBURI + "/view_handler?index=1&url=#{new_project_installation_path(@project)}" if has_create_right? %>

</div>

