<%= simple_form_for([@installation, @installation_purchase]) do |f| %>    

  <div style="padding-left:68px">安装项目名称：&nbsp;&nbsp;<%= @installation.install_name %></div> 
  <%= f.input :applicant_id, :label => '申请工程师：', :collection => return_employee('inst_eng'), :label_method => :name, :value_method => :id %>  
  <%= f.input :part_name, :label => '物料名称：' %> 
  <%= f.input :spec, :label => '规格：' %>
  <%= f.input :for_what, :lable => '用途：', :input_html => {:rows => 4 } %>
  <%= f.input :need_date, :label => '需要日期：', :as => :string %> 
  <%= f.input :qty, :label => '申请数量：' %>
  <%= f.input :unit, :label => '单位：', :collection => return_unit, :selected => @installation_purchase.unit %>
  <%= f.input :unit_price, :label => '单价（￥）：' %>
  <%= f.input :total, :label => '总额（￥）：' %>
  <%= f.input :qty_purchased, :label => '实际购买数量：' %>
  <%= f.input :total_paid, :label => '实付总额（￥）：' %>
  <%= f.input :storage_location, :label => '存放地点：' %>
  <%= f.input :qty_in_stock, :label => '库存数量：' %>
  <div style="padding-left:32px">工程付总批准：&nbsp;&nbsp;<%= @installation_purchase.approved_by_vp_eng %></div> 
  <div style="padding-left:32px">批准人：&nbsp;&nbsp;<%= @installation_purchase.approve_vp_eng.name if @installation_purchase.approve_vp_eng_id.present?  %></div> 
  <div style="padding-left:32px">批准日期：&nbsp;&nbsp;<%= @installation_purchase.approve_date_vp_eng.strftime("%Y/%m/%d") if @installation_purchase.approve_date_vp_eng.present? %></div>  
  <div style="padding-left:32px">厂长批准：&nbsp;&nbsp;<%= @installation_purchase.approved_by_ceo %></div> 
  <div style="padding-left:32px">批准人：&nbsp;&nbsp;<%= @installation_purchase.approve_ceo.name if @installation_purchase.approve_ceo_id.present?  %></div> 
  <div style="padding-left:32px">批准日期：&nbsp;&nbsp;<%= @installation_purchase.approve_date_ceo.strftime("%Y/%m/%d") if @installation_purchase.approve_date_ceo.present? %></div>   
       
          
  <%= f.button :submit, '保存' %>  
<% end %>  


