<div id="main_body">
<h1>物料库存</h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
    <th></th>
    <th>#</th>
    <th>物料名称</th>
    <th>规格</th>
    <th>入库日期</th>
    <th>库存量</th>
    <th>存放地点</th> 
    <th>供应商</th>
    <th></th>
  </tr>

<% @parts.each do |part| %>
  <tr>
  	<td><%= link_to 'Show', "/view_handler?index=1&url=#{part_path(part)}" if has_show_right? %></td>
  	<td><%= part.id %></td>
    <td><%= part.name %></td>
    <td><%= part.spec %></td>
    <td><%= part.in_date.strftime("%Y/%m/%d") %></td>
    <td><%= part.stock_qty%><%= part.unit %></td>   
    <td><%= part.storage_location %></td>
    <td><%= part.supplier %></td>
    <td><%= link_to 'Edit', "/view_handler?index=1&url=#{edit_part_path(part)}" if has_update_right? %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', "/view_handler?index=0" %>
  &nbsp;<%= link_to '入库物料', "/view_handler?index=1&url=#{new_part_path}" if has_create_right? %>

</div>
