<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to '项目', SUBURI + "/view_handler?index=1&url=#{projects_path}" %></li>					
                    <li><%= link_to '外协厂家', SUBURI + "/view_handler?index=1&url=#{src_plants_path}" %></li>
                    <li><%= link_to '制造商', SUBURI + "/view_handler?index=1&url=#{manufacturers_path}" %></li>
                    <li><%= link_to '质量问题', SUBURI + "/view_handler?index=1&url=#{quality_issues_path}" %></li>
                    <li><%= link_to '外购/协付款记录', SUBURI + "/view_handler?index=1&url=#{payment_logs_path}" if acct? || pur_eng? || src_eng? || vp_eng? || comp_sec? || vp_sales? || coo? || ceo? %></li>
				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>
					<li><%= link_to '客户', SUBURI + "/view_handler?index=1&url=#{customers_path}" %></li>
					<li><%= link_to '物料库存', SUBURI + "/view_handler?index=1&url=#{parts_path}"%></li>
					<li><%= link_to '供应商', SUBURI + "/view_handler?index=1&url=#{suppliers_path}" %></li>
					<li><%= link_to '安装物料', SUBURI + "/view_handler?index=1&url=#{installation_purchases_path}"%></li>
				</ul>
			</td>
		</tr>
	</table>	
</div>
