<div id="user">
	<table width="90%">
		<tr>
			<td width="40%" valign="top">
				<ul>
					<li><%= link_to '项目', "/view_handler?index=1&url=#{projects_path}" %></li>
					<li><%= link_to '质量问题', "/view_handler?index=1&url=#{project_quality_issues_path}" %></li>
                    <li><%= link_to '外协厂家', "/view_handler?index=1&url=#{src_plants_path}" %></li>
                    <li><%= link_to '制造商', "/view_handler?index=1&url=#{manufacturers_path}" %></li>
				</ul>
				</td>
				<td width="20">&nbsp;</td>
				<td valign="top">
				<ul>
					<li><%= link_to '客户', "/view_handler?index=1&url=#{customers_path}" %></li>
					<li><%= link_to '供应商', "/view_handler?index=1&url=#{suppliers_path}" %></li>
					<li><%= link_to '安装物料', "/view_handler?index=1&url=#{installation_purchases_path}"%></li>
				</ul>
			</td>
		</tr>
	</table>	
</div>
