<div id="main_body">
<h1>生产计划-<%=@project.name %></h1>
<table>
  <tr>
    <th></th>
    <th>名称</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>完成?</th>
    <th></th>
    <th></th> 
  </tr>

<% @productions.each do |prod| %>
  <tr>
  	<td><%= link_to 'Show', "/view_handler?index=1&url=#{project_production_path(@project, prod)}" if has_show_right? %></td>
    <td><%= prod.name %></td>
    <td><%= prod.start_date.strftime("%Y/%m/%d") %></td>
    <td><%= prod.finish_date.strftime("%Y/%m/%d") %></td>
    <td><%= prod.completed %></td>  
    <td><%= link_to 'Edit', "/view_handler?index=1&url=#{edit_project_production_path(@project, prod)}" if has_update_right? %></td>
    <td><!--%= link_to '', "/view_handler?index=1&url=#{production_production_log_path(prod)}" %--></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', "/view_handler?index=0" %>
  &nbsp;<%= link_to '输入计划', "/view_handler?index=1&url=#{new_project_production_path(@project)}" if has_create_right? %>

</div>
