<div id="main_body">
<h1>生产计划-<%=@project.name %></h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
    <th>#</th>
    <th>生成日期</th>    
    <th>名称</th>
    <th>开始日期</th>
    <th>结束日期</th>
    <th>责任工程师</th>
    <th>完成?</th>
    <th></th>
    <th></th> 
  </tr>

<% @productions.each do |prod| %>
  <tr>
  	<td><%= link_to prod.id.to_s, SUBURI + "/view_handler?index=1&url=#{project_production_path(@project, prod)}" if has_show_right? %><%='*' if (prod.created_at + 8.hours) > DAYS_OF_NEW.days.ago %></td>
  	<td><%= (prod.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
    <td><%= prod.name %></td>
    <td><%= prod.start_date.strftime("%Y/%m/%d") %></td>
    <td><%= prod.finish_date.strftime("%Y/%m/%d") %></td>
    <td><%= prod.eng.name unless prod.eng_id.blank? %></td>
    <td><%= yes_no_cn(prod.completed) %></td>  
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_project_production_path(@project, prod)}" if has_update_right? %></td>
    <td><%= link_to 'Log状态', SUBURI + "/view_handler?index=1&url=#{production_production_logs_path(prod)}" %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', SUBURI + "/view_handler?index=0" %>
  &nbsp;<%= link_to '输入计划', SUBURI + "/view_handler?index=1&url=#{new_project_production_path(@project)}" if has_create_right? %>

</div>
