<%= simple_form_for([@project, @quality_issue]) do |f| %>    

  <div style="padding-left:32px">项目名称：&nbsp;&nbsp;<%= @project.name %></div> 
  <div style="padding-left:32px">客户：&nbsp;&nbsp;<%= @project.customer.name %></div>
  <%= f.input :report_by_id, :label => '报告工程师：', :collection => return_tech_eng, :label_method => :name, :value_method => :id %>  
  <%= f.input :report_date, :label => '报告日期：', :as => :string %> 
  <%= f.input :name, :label => '问题名称：' %> 
  <%= f.input :issue_desp, :label => '问题描述：', :input_html => {:rows => 6} %>  
  <%= f.input :quick_fix, :label => '临时措施：', :input_html => {:rows => 6} %> 
  <%= f.input :root_cause, :label => '问题原因：', :input_html => {:rows => 6} %> 
  <%= f.input :solution, :label => '解决方案：', :input_html => {:rows => 6} %>  
  <%= f.input :customer_feedback, :label => '客户反馈：', :input_html => {:rows => 6} %> 
  <%= f.input :preventative_action, :label => '预防措施：', :input_html => {:rows => 6} %>    
  <% if has_close_right? %> 
    <%= f.input :case_closed, :label => '问题解决：', :collection => return_yes_no, :selected => @quality_issue.case_closed %>
    <%= f.input :close_date, :label => '解决日期：', :as => :string %>     
  <% else %>
    <div style="padding-left:32px">问题解决：&nbsp;&nbsp;<%= @quality_issue.case_closed %></div> 
    <%= f.input :close_date, :label => '解决日期：', :as => :string, :input_html => {:readonly => true} %>
  <% end %>           

  <%= f.button :submit, '保存' %>  
<% end %>  


