<%= simple_form_for @project do |f| %>    
 
  <div style="padding-left:62px">客户：&nbsp;&nbsp;<%= @project.customer.name %></div>
  <%= f.input :name, :label => '项目名称：', :input_html => {:readonly => true} %>  
  <%= f.input :customer_contact_info, :label => '联系信息：', :hint => '联系人及电话', :input_html => { :rows => 4, :readonly => true} %> 
  <%= f.input :awarded, :label => '签合同了？：', :collection => return_yes_no, :include_blank => true %>   
  <%= f.input :status, :label => '项目状态：', :collection => return_project_status %>
  <%= f.input :install_address, :label => '设备安装地点：' %> 
  <%= f.input :tech_spec, :label => '技术参数：', :input_html => { :rows => 8} %> 
  <%= f.input :tonnage, :label => '设备吨位：', :as => :string %>     
  <%= f.input :subsys_spec, :label => '部件技术：', :input_html => { :rows => 8} %>      
  <%= f.input :other_tech_requirement, :label => '其他技术：', :input_html => { :rows => 6} %>     
  <%= f.input :construction_finish_date, :label => '土建完成日期：', :as => :string %>  
  <%= f.input :production_start_date, :label => '生产开始日期：', :as => :string %>
  <%= f.input :design_start_date, :label => '设计开始日期：', :as => :string %>   
  <%= f.input :install_start_date, :label => '安装开始日期：', :as => :string, :input_html => {:readonly => true} %>   
  <%= f.input :turn_over_requirement, :label => '验收交付：', :input_html => { :rows => 4} %>  
  <%= f.input :completed, :label => '完成？：', :as => :radio %> 
  <div style="padding-left:52px">项目取消？：&nbsp;&nbsp;<%= @project.cancelled %> </div>          
  <%= f.input :note, :label => '注释：', :input_html => { :rows => 4} %>
  <%= f.input :review_after, :label => '项目总结：', :input_html => {:rows => 6} %>          
  
  <%= f.button :submit, '保存' %>  
<% end %>  


