<div id="main_body">
<h1>设备项目</h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
    <th>#</th>
    <th>生成日期</th>
    <th>项目名称</th>
    <th>客户</th>
    <th>项目状态</th> 
    <th>完成?</th>
    <th></th>
    <th></th> 
    <th></th> 
    <th></th> 
    <th></th> 
    <th></th>
  </tr>

<% @projects.each do |proj| %>
  <tr>
  	<td><%= link_to proj.id.to_s, SUBURI + "/view_handler?index=1&url=#{project_path(proj)}" if has_show_right? %><%='*' if (proj.created_at + 8.hours) > DAYS_OF_NEW.days.ago %></td>
  	<td><%= (proj.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
    <td><%= proj.name %></td>
    <td><%= proj.customer.name %></td>
    <td><%= proj.status %></td>
    <td><%= yes_no_cn(proj.completed) %></td>  
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_project_path(proj)}" if has_update_right? %></td>
    <% if proj.awarded %>
      <td><%= link_to '计划', SUBURI + "/view_handler?index=1&url=#{project_productions_path(proj)}" %></td>
      <td><%= link_to '外协', SUBURI + "/view_handler?index=1&url=#{project_sourcings_path(proj)}" %></td>
      <td><%= link_to '外购', SUBURI + "/view_handler?index=1&url=#{project_purchasings_path(proj)}" %></td>
      <td><%= link_to '安装', SUBURI + "/view_handler?index=1&url=#{project_installations_path(proj)}" %></td>
      <td><%= link_to '质量', SUBURI + "/view_handler?index=1&url=#{quality_issues_path(proj)}" %></td>
    <% end %>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', SUBURI + "/view_handler?index=0" %>
  &nbsp;<%= link_to '输入项目', SUBURI + "/view_handler?index=1&url=#{new_project_path}" if has_create_right? %>
  <%= link_to '搜索', search_projects_path if has_search_right? %>
  <%= link_to '统计', stats_projects_path if has_stats_right? %>

</div>

