<div id="main_body">
<h1>外购/外协计划付款记录搜索</h1>
<%=@search_params%>
  <p>
       应付金额￥：<%=@payment_logs.sum("amount") %>
  </p>
  <p>已付款（￥）：<%= @payment_logs.where("paid = ?", true).sum("amount")%></p>
<table>
  <tr>
  	<th>#</th>
  	<th>付款日期</th>
  	<th>付款额￥</th>
  	<% if @sourcing.blank? && @purchasing.blank?%>
  	  <th>项目</th>
  	  <th>客户</th>
  	  <th>外购</th>
  	  <th>外协</th>
  	<% end %>
  	<th>厂长批准</th>
  	<th>付清</th>
    <th>简注</th>  
    <th></th>
  </tr>

<% @payment_logs.each do |log| %>
  <tr>
  	<td><%= link_to log.id.to_s, SUBURI + "/view_handler?index=1&url=#{payment_log_path(log)}" %></td>
    <td><%= log.pay_date.strftime("%Y/%m/%d") %></td> 
    <td><%= log.amount %></td>
  	<% if @sourcing.blank? && @purchasing.blank?%>
  	  <% if log.purchasing_id.present? %>
  	    <td><%=log.purchasing.project.name%></td>
  	    <td><%=log.purchasing.project.customer.short_name %></td>
  	    <td><%=log.purchasing.prod_name%></td>
  	    <td></td>
  	  <% elsif log.sourcing_id.present? %>
  	    <td><%=log.sourcing.project.name%></td>
  	    <td><%=log.sourcing.project.customer.short_name %></td>
  	    <td></td>    	    
  	    <td><%=log.sourcing.prod_name%></td>	  
  	  <% end %>
  	<% end %> 
  	<td><%= yes_no_cn(log.approved_by_ceo) %></td>
  	<td><%= yes_no_cn(log.paid) %></td>   	
    <td><%= log.short_note %></td> 
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_purchasing_payment_log_path(@purchasing, log)}" if has_update_right? && @purchasing.present? %></td>    
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_sourcing_payment_log_path(@sourcing, log)}" if has_update_right? && @sourcing.present? %></td>
  </tr>
<% end %>

</table>

  <%= link_to 'Back', search_payment_logs_path, :id => 'close' %>
  <%= link_to '统计', stats_payment_logs_path, :id => 'stats_link' if has_stats_right? %>
</div>
