<%= simple_form_for([@project, @sourcing]) do |f| %>    

  <div style="padding-left:68px">项目名称：&nbsp;&nbsp;<%= @project.name %></div> 
  <%= f.input :prod_name, :label => '名称：' %> 
  <%= f.input :part_num, :label => '产品#：' %>
  <%= f.input :spec, :label => '规格：', :input_html => {:rows => 4} %>  
  <%= f.input :qty, :label => '数量：' %>
  <%= f.input :unit, :label => '单位：', :collection => return_unit, :include_blank => true %>
  <%= f.input :unit_price, :label => '单价：' %>
  <%= f.input :src_plant_id, :label => '外协厂：', :collection => return_src_plant, :label_method => :name, :value_method => :id, :include_blank => true %>
  <%= f.input :eng_id, :label => '责任工程师:', :collection => return_employee('mech_eng', 'hydr_eng', 'inst_eng', 'elec_eng', 'src_eng'), :label_method => :name, :value_method => :id %>
  <%= f.input :src_eng_id, :label => '外协工程师：', :collection => return_employee('src_eng'), :label_method => :name, :value_method => :id %>
  <%= f.input :proj_module_id, :label => '分系统：', :collection => return_proj_module(@project), :label_method => :name, :value_method => :id %>
  <%= f.input :completed, :label => '完成:', :as => :radio %>
  <%= f.input :start_date, :label => '开工日期：', :as => :string %> 
  <%= f.input :finish_date, :label => '完成日期：', :as => :string %> 
  <div style="padding-left:68px">工程付总批准：&nbsp;&nbsp;<%= @sourcing.approved_by_vp_eng %></div> 
  <div style="padding-left:68px">批准人：&nbsp;&nbsp;<%= @sourcing.approve_vp_eng.name if @sourcing.approve_vp_eng_id.present?  %></div> 
  <div style="padding-left:68px">批准日期：&nbsp;&nbsp;<%= @sourcing.approve_date_vp_eng.strftime("%Y/%m/%d") if @sourcing.approve_date_vp_eng.present? %></div>  
  <div style="padding-left:68px">厂长批准：&nbsp;&nbsp;<%= @sourcing.approved_by_ceo %></div> 
  <div style="padding-left:68px">批准人：&nbsp;&nbsp;<%= @sourcing.approve_ceo.name if @sourcing.approve_ceo_id.present?  %></div> 
  <div style="padding-left:68px">批准日期：&nbsp;&nbsp;<%= @sourcing.approve_date_ceo.strftime("%Y/%m/%d") if @sourcing.approve_date_ceo.present? %></div>   
       
  <%= f.button :submit, '保存' %>  
<% end %>  


