
<div id="main_body">
<h1>外协计划-<%=@project.name %></h1>
<div class="byop_pagination"><%= will_paginate %></div>
<table>
  <tr>
    <th>#</th>
    <th>生成日期</th>
    <th>产品名称</th>
    <th>开工日期</th>
    <th>完成日期</th>
    <th>批准</th>
    <th>完成</th>
    <th>部件工程师</th>
    <th>外协工程师</th>
    <th></th>
    <th></th> 
    <th></th>
  </tr>

<% @sourcings.each do |src| %>
  <tr>
  	<td><%= link_to src.id.to_s, SUBURI + "/view_handler?index=1&url=#{project_sourcing_path(@project, src)}" if has_show_right? %><%='*' if (src.created_at + 8.hours) > DAYS_OF_NEW.days.ago %></td>
  	<td><%= (src.created_at + 8.hours).strftime("%Y/%m/%d")%></td>
    <td><%= src.prod_name %></td>
    <td><%= src.start_date.strftime("%Y/%m/%d") %></td>
    <td><%= src.finish_date.strftime("%Y/%m/%d") %></td>
    <td><%= yes_no_cn(src.approved_by_vp_eng && src.approved_by_ceo) %></td>
    <td><%= yes_no_cn(src.completed) %></td>
    <td><%= src.eng.name unless src.eng_id.blank? %></td>
    <td><%= src.src_eng.name unless src.src_eng_id.blank? %></td>  
    <td><%= link_to 'Edit', SUBURI + "/view_handler?index=1&url=#{edit_project_sourcing_path(@project, src)}" if has_update_right? %></td>
    <td><%= link_to '批准', approve_project_sourcing_path(@project, src), :method => :put if need_approve?(src) && display_approve?(src) %></td>
    <td><%= link_to '状态', SUBURI + "/view_handler?index=1&url=#{sourcing_sourcing_logs_path(src)}" %></td>
  </tr>
<% end %>
</table>
  <%= link_to 'Back', SUBURI + "/view_handler?index=0" %>
  &nbsp;<%= link_to '输入外协', SUBURI + "/view_handler?index=1&url=#{new_project_sourcing_path(@project)}" if has_create_right? %>
  <%= link_to '搜索', search_sourcings_path %>
</div>

