<%= simple_form_for([@project, @shipment]) do |f| %>    

  <%= f.input :shipping_date, :label => "发货日期：", :as => :string %>
  <%= f.input :proj_name, :label => '项目名称:', :readonly => true, :required => false, :input_html => {:value => @project.name} %>
  <%= f.input :customer_name, :label => '客户：', :readonly => true, :required => false, :input_html => {:value => @project.customer.short_name}  %>
  <%= f.input :delivery_address, :label => "发运地址 ：", :input_html => {:rows => 4}  %>
  <%= f.input :freight_desp, :label => "货物：", :input_html => {:rows => 4}   %>
  <%= f.input :weight, :label => "重量（kg） ：" %>  
  <%= f.input :packing_desp, :label => "包装 ：", :input_html => {:rows => 4}  %>
  <%= f.input :shipping_via, :label => "运输方式：", :collcection => return_shipping_via %>
  <%= f.input :carrier, :label => "承运商：" %> 
  <%= f.input :delivery_date, :label => "到货日期：", :as => :string %>
  <%= f.input :cancelled, :label => "取消：", :collection => return_yes_no %>
  <%= f.input :customer_signature_by, :label => "收货签名：" %>  
  <%= f.input :approved_by_ceo_noupdate, :label => '厂长批准：', :readonly => true, :required => false, :as => :string, :input_html => {:value => yes_no_cn(@shipment.approved_by_ceo)} %>
  <%= f.input :approve_ceo_id_noupdate, :label => '审批人：', :readonly => true, :required => false, :input_html => {:value => User.find_by_id(@shipment.approve_ceo_id)} if @shipment.approve_ceo_id.present? %> 
  <%= f.input :approve_date_ceo_noupdate, :label => '审批日期：', :readonly => true, :required => false, :input_html => {:value => @shipment.approve_date_ceo.strftime("%Y/%m/%d")} if @shipment.approve_date_ceo.present? %> 
  
    货物：
  <div id='shipment_items'>
  	<%= f.simple_fields_for :shipment_items do |builder| %>
  	  <%= render 'first_shipment_items', :f => builder %>
  	<% end %>
  	<%= f.simple_fields_for :shipment_items, ShipmentItem.where(:shipment_id => @shipment.id).offset(1) do |builder| %>
  	  <%= render 'shipment_items', :f => builder %>
  	<% end if @shipment.shipment_items.size > 1 %>
    <p><%= link_to_add_fields "加货物", f, :shipment_items %></p>
  </div>
 
  <%= f.button :submit, '保存' %>  
<% end %>